---
import faviconUrl from "@/assets/favicon.png?url";
import Container from "@/components/container.astro";
import SEO from "@/components/seo.astro";
import SiteFooter from "@/components/site-footer.astro";
import SiteHeader from "@/components/site-header.astro";
import { siteConfig } from "@/lib/site-config";
import type { ComponentProps } from "astro/types";

type Props = ComponentProps<typeof SEO>;

const { title, titleTemplate, description } = Astro.props;
---

<html lang={siteConfig.locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={faviconUrl} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={title}
      titleTemplate={titleTemplate}
      description={description}
    />
  </head>
  <body>
    <SiteHeader />
    <Container>
      <slot />
    </Container>
    <SiteFooter />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }
</style>
